section#about.section
	.container
		//- Section Title
		.section-title
			h1 About me
			span.border
			p
				| Full Stack Javascript Engineer, Nodejs addict, Everything JS, Experienced SRE, Husband, Father of 3 and the Biggest Tribe Fan Ever. 
		//- Section Title End
		.row
			.col-md-6
				img.img-about(src='/public/img/family.jpg', alt='my family')
			.col-md-6
				h2 Sean Grasso
				h4 Senior Software Engineer
				h5 From Cleveland
				img.img-responsive(src='/public/img/work_logos.png', alt='my work', style='padding-bottom:15px;')
				p
					| My full stack experience goes beyond JS to languages such as Coldfusion and several others but my primary interest and expertise evolves around everything JavaScript and Node.js.  I am an experienced advocate for docker container usage and a DevOps support structure.  You can usually always find me being a geek and hacking something.  I hope to add lots of parts and pieces I've built here and maybe even a blog or two.  I am a busy father of 3, but enjoy an extensive knowledge and interest in the game of baseball. If you feel inclined to learn more or have a project in need of a senior level consultant feel free to drop me a line.