//- Section : work
section#work.section
	.container
		//- section title
		.section-title
			h1 Where I Work
			span.border
			p
				| Lead Developer on many projects and teams. We build cool stuff together.
		//- section title end
		//- work logo
		.row
			ul.clients_logo
				li.col-md-12
					img.img-responsive(src='/public/img/work_logos.png', alt='my work', style='margin: 0 auto;')
		//- work logo end
//- Section : work end
