doctype html
html
	head
		//- Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-KK4TZS3');
		//- End Google Tag Manager

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='My personal site')
		meta(name='keywords', content='nodejs, node, javascript, web development, Sean Grasso')
		meta(name='author', content='Sean Grasso')

		title #{pageTitle}
		//- link(rel='shortcut icon', href='img/icons/favicon.ico')
		<!--[if lt IE 9]>
		 	script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		<![endif]-->
		link(rel='stylesheet', media='screen', href= '/public/css/styles.min.css')
		link(rel='stylesheet', media='screen', href= '/public/css/color-orange.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Montserrat:400,700' media="none" onload="if(media!='all')media='all'")
		link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css' media="none" onload="if(media!='all')media='all'")

		block css

	body
		//- Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KK4TZS3', height='0', width='0', style='display:none;visibility:hidden')
		//- End Google Tag Manager (noscript)

		#mask
			.bubblingG
				span#bubblingG_1
				span#bubblingG_2
				span#bubblingG_3

		div#page-wrapper
			section#home.parallax(style="background-image: url('/public/img/Cleveland_skyline_from_the_Flats_modified.jpg');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
				.parallax-overlay
					.container
						.col-md-12
							.avater(style="background-image: url('/public/img/SeanGrasso.jpg');background-size: cover;")
							.info
								h1 Sean Grasso
								h2 Full Stack Javascript Developer
								include ../partials/social
							.gotosection
								a(href='#top')
									i.fa.fa-angle-double-down
			div#undefined-sticky-wrapper.sticky-wrapper(style="height: 70px;")
				| !{nav}
			div#top
				
			block content
				
			footer
				.container
					.copyright ©#{new Date().getFullYear()} Sean Grasso All rights reserved.

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='/public/js/main.min.js')
		
		block js